ul {
  text-decoration: none;
  list-style: none;
  margin-left: 10px;
  padding-left: 0;
}
li {
  margin-bottom: 2px;
  border-left: 5px solid gray;
  padding: 3px;
  transition: background-color 0.1s ease-out, left 0.1s ease-out;
}
li:nth-child(2n) {
  background-color: #EEE;
}
li:hover {
  background-color: #880d1e;
  font-size: 115%;
  color: white;
  position: relative;
  right: 5px;
}
li:hover a {
  color: white;
}
li a {
  text-decoration: none;
  display: inline-block;
  color: black;
}
